<div class="container">
  <h3 class="alert alert-info">student-details</h3>
<div class="w-75">
  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" class="form-control bg-light" value="{{students[this.id].name}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon2">Email</span>
    <input type="text" class="form-control bg-light" value="{{students[this.id].email}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">Phone</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{students[this.id].phone}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">Address</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{students[this.id].address}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">Age</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{students[this.id].age}}" disabled>
  </div>
</div>

</div>
