<div class="container mb-5">
<h2 class="text-center alert alert-dark w-50 m-auto mb-3">Registration</h2>
<form [formGroup]="validationForm" class="form">
  <div class="form w-75 m-auto">
    <div class="mb-3 center">
      <label for="exampleFormControlInput1" class="form-label" >Name</label>
      <input formControlName="name" name="name" type="text" class="form-control" [ngClass]="{'is-invalid' : !validName && name,'is-valid' :validName}" id="exampleFormControlInput1" placeholder="Name" [(ngModel)]="name">
      <div class="invalid-feedback" *ngIf="!validName">
        Please choose a valid name.
      </div>
    </div>
    <div class="mb-3 center">
      <label for="exampleFormControlInput2" class="form-label">Email</label>
      <input formControlName="email" name="email" type="text" class="form-control" [ngClass]="{'is-invalid' : !validEmail && email,'is-valid' : validEmail}" id="exampleFormControlInput2" placeholder="Email" [(ngModel)]="email">
      <div class="invalid-feedback" *ngIf="!validEmail">
        Please choose a valid email.
      </div>
    </div>
    <div class="mb-3 center">
      <label for="exampleFormControlInput3" class="form-label">User Name</label>
      <input formControlName="userName" name="username" type="text" class="form-control" [ngClass]="{'is-invalid' : !validUserName && userName,'is-valid' : validUserName}" id="exampleFormControlInput3" placeholder="User Name" [(ngModel)]="userName">
      <div class="invalid-feedback" *ngIf="!validUserName">
        Please choose a valid username.
      </div>
    </div>

    <div class="mb-3 center">
      <label for="exampleFormControlInput3" class="form-label">Phone</label>
      <input formControlName="phone" name="phone" type="text" class="form-control" [ngClass]="{'is-invalid' : !validPhone && phone,'is-valid' : validPhone}" id="exampleFormControlInput3" placeholder="Phone" [(ngModel)]="phone">
      <div class="invalid-feedback" *ngIf="!validPhone">
        Please choose a valid Phone.
      </div>
    </div>
    <div class="mb-3 center">
      <label for="exampleFormControlInput3" class="form-label">Street</label>
      <input formControlName="street" name="street" type="text" class="form-control" [ngClass]="{'is-invalid' : !validStreet && street,'is-valid' : validStreet}" id="exampleFormControlInput3" placeholder="Street" [(ngModel)]="street">
      <div class="invalid-feedback" *ngIf="!validStreet">
        Please choose a valid Street.
      </div>
    </div>
    <div class="mb-3 center">
      <label for="exampleFormControlInput3" class="form-label">City</label>
      <input formControlName="city" name="city" type="text" class="form-control" [ngClass]="{'is-invalid' : !validCity && city,'is-valid' : validCity}" id="exampleFormControlInput3" placeholder="City" [(ngModel)]="city">
      <div class="invalid-feedback" *ngIf="!validCity">
        Please choose a valid City.
      </div>
    </div>
    <button class="btn btn-dark w-100" (click)="send()">Add</button>
  </div>
</form>

</div>
