<div class="container">
  <h3 class="alert alert-info">student-details</h3>

<div class="w-75" *ngIf="student else falseBlock">
  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" class="form-control bg-light" value="{{student.name}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">User Name</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{student.username}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon2">Email</span>
    <input type="text" class="form-control bg-light" value="{{student.email}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">Phone</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{student.phone}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">Street</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{student.address.street}}" disabled>
  </div>

  <div class="input-group mb-3 w-75 m-auto">
    <span class="input-group-text" id="basic-addon3">City</span>
    <input type="text" class="form-control bg-light" id="basic-url" value="{{student.address.city}}" disabled>
  </div>
  <div class="m-auto w-75 d-flex justify-content-center mb-3">
    <button class="btn btn-danger me-3 w-25" (click)="delete()">delete</button>
    <a class="btn btn-dark w-25" routerLink="/students/{{student.id}}/edit">edit</a>
  </div>
  </div>

  <ng-template #falseBlock>
    <div class="alert alert-dark w-50">
      Loading.....
    </div>
  </ng-template>
</div>
